link(rel="stylesheet", href="/styles/map.css")

section(class="map")
    //-  Load Map Asynchronously
    div(id="#map-container")
        div(id="myMap")
    hr
section(class="distance-calculator")
    div(class="directionsContainer")
        div(id="directionsPanel")
        div(id="directionsItinerary")

    hr

script(src="/js/map.js")

