link(rel="stylesheet", href="/styles/baseContent.css")








div(class="jumbotron jumbotron-fluid")
            div(class="container")
                //- h1(class="display-4")  Trail
                //- p Until Website Blog Images Get Added. 