<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ThankYou
    body
        h1(style="text-align : center") Logged-Out Successfully